body {
  background-color: black;
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#start {
  color: black;
  background-color: red;
  font-size: 40px;
}
